[user]
  name = Fantomas42
  email = fantomas42@gmail.com

[alias]
  cl = clone
  st = status -uno -s -b
  ci = commit
  co = checkout
  br = branch -va
  go = checkout -b
  wo = checkout -t
  ds = diff --staged
  di = diff --color-words
  logs = log --stat -p --decorate
  hist = log --graph --pretty=format:'%Cred%h%Creset -%C(bold yellow)%d%Creset %s %Cgreen(%cr) %C(bold blue)<%an>%Creset' --abbrev-commit
  todo =  grep --line-number -I -i --word-regexp TODO
  today = !git log --author=$(git config user.email) --since=yesterday

[branch "master"]
  remote = origin
  merge = refs/heads/master

[branch "develop"]
  remote = origin
  merge = refs/heads/develop

[color]
  ui = auto

[color "branch"]
  current = bold green
  local = yellow
  remote = bold blue

[color "diff"]
  old = red
  new = bold green
  func = bold cyan
  frag = cyan
  commit = bold yellow
  whitespace = bold red
  meta = bold white

[color "status"]
  added = bold cyan
  changed = bold green
  untracked = red

[commit]
  template = ~/.gitmessage

[core]
  pager = less
  editor = emacs -nw
  autocrlt = input
  whitespace = trailing-space,space-before-tab
  excludesfile = ~/.gitignore

[help]
  autocorrect = 1

[push]
  default = matching

[rerere]
  enabled = 1

[url "git@github.com:"]
  insteadOf = "gh:"

[web]
  browser = firefox
